body{
    margin:0;
    line-height:1.6em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;

}
.container{
    width: 80%;
    overflow: hidden;
    margin: auto;
}
#main-header
{ 
    background-image: url("showcase.jpg");
    background-position: center right;
    min-height: 200px;
}
#profile-name{
    float:center;
    padding:40px 50px 50px 10px;
    padding-left:40px;
    color: #fff;
    font-family:Verdana;
    font-style: bold;
    text-align: center;
    font-size: 20px;
}
#profile{
    padding-left:20px;
    padding-top: 15px;
    padding-right: 300px;
    padding-bottom: 10px;
    float: right;
    
}
#showcase{
   background-color: black;
}

.glow{
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
#about{
    margin-top: 10px;
    float: left;
	width: 70%;
	padding:0 30px;
    box-sizing: border-box;
    font-size: 16px;
}
#skills{
    margin-top: 10px;
    float: right;
	width: 30%;
	background: #333;
	color: #fff;
	padding:10px;
    box-sizing: border-box;
    font-size: 16px;
}
li{
    font-style: bold;
}
small{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
#education{
    width: 30%;
     font-size: 16px;
}
#main-footer{
	background: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 40px;
}
@media(max-width: 600px) {
	#main{
		width: 100%;
		float: none;
	}
	#sidebar{
		width: 100%;
		float: none;
	}
}
